@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Set background color of loading page  */
@-moz-document url(chrome://browser/content/browser.xul){
    #main-window,
    browser[type="content-primary"],
    browser[type="content"],
    tabbrowser#content,
    #content,
    browser[type="content"], 
    #appcontent > #content  {
        background: #2A2A2E !important;
    }
}

#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
  background: var(--in-content-page-background)!important
}

/* Remove back button when there's nothing to go back to */
#back-button[disabled="true"] {
    display: none;
}

/* Remove forward button when there's nothing to go forward to */
#forward-button[disabled="true"] {
    display: none;
}