[user]
    name = Aaron Meier
    email = aaron.e.meier@gmail.com 
    editor = code
    signinkey = A49FE2BB01D33343

[commit]
    gpgsign = true

[github]
    user = cynja

[rerere]
    enabled = true

[color]
    diff = auto
    status = auto
    ui = auto

[core]
	editor = code
	excludesfile = ~/.gitexcludes

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[alias]
	l = log --oneline --graph --decorate
    st = status
    ci = commit
    br = branch
    ch = checkout
    df = diff
    lg = log -p
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true