# Do whitelisting
*

# ansible
!ansible/
!ansible/.ansible/
!ansible/.ansible/vault_password_file
!ansible/.ansible.cfg

# bash
!bash/
!bash/.bash_logout
!bash/.bash_profile
!bash/.bashrc

# beets
!beets/
!beets/.config/
!beets/.config/beets/
!beets/.config/beets/config.yaml

# bin
!bin/
!bin/.bin
!bin/.bin/.gitkeep

# cheat
!cheat/
!cheat/.cheat
!cheat/.cheat/
!cheat/.cheat/community
!cheat/.cheat/community/*
!cheat/.cheat/personal
!cheat/.cheat/personal/*
!cheat/.config/
!cheat/.config/cheat/*

# git
!git/
!git/.gitconfig
!git/.gitexcludes

# gnupg
!gnupg/
!gnupg/.gnupg
!gnupg/.gnupg/gpg-agent.conf
!gnupg/.gnupg/gpg.conf

# packages
!packages/
!packages/brew
!packages/npm
!packages/pip

# postgres
!postgres/
!postgres/.psqlrc

# setup
!macos.sh
!keylayouts/
!keylayouts/**

# shell
!shell/
!shell/.shell
!shell/.shell/*

# ssh
!ssh/
!ssh/.ssh/
!ssh/.ssh/config

# sync
!sync/
!sync/.gitkeep

# tmux
!tmux/
!tmux/.tmux.conf

# vim
!vim/
!vim/.vimrc

# zsh
!zsh/
!zsh/.zsh
!zsh/.zsh/mac.zsh
!zsh/.zsh/prompt.zsh
!zsh/.zsh_profile
!zsh/.zshrc

!.editorconfig
!.gitignore
!dotfiles.sh
!README.md
