# Do whitelisting
*

# ansible
!ansible/
!ansible/.ansible/
!ansible/.ansible/vault_password_file
!ansible/.ansible.cfg

# bash
!bash/
!bash/.bash_logout
!bash/.bash_profile
!bash/.bashrc

# beets
!beets/
!beets/.config/
!beets/.config/beets/
!beets/.config/beets/config.yaml

# bin
!bin/
!bin/.bin
!bin/.bin/.gitkeep

# cheat
!cheat/
!cheat/.cheat
!cheat/.cheat/*

# dircolors
!dircolors/
!dircolors/.dircolors

# git
!git/
!git/.gitconfig
!git/.gitexcludes

# gnupg
!gnupg/
!gnupg/.gnupg
!gnupg/.gnupg/gpg-agent.conf
!gnupg/.gnupg/gpg.conf

# google
!google/
!google/.gitkeep

# postgres
!postgres/
!postgres/.psqlrc

# shell
!shell/
!shell/.shell
!shell/.shell/*

# ssh
!ssh/
!ssh/.ssh/
!ssh/.ssh/config

# tmux
!tmux/
!tmux/.tmux.conf

# vim
!vim/
!vim/.vimrc
!vim/.vim
!vim/.vim/colors
!vim/.vim/colors/solarized.vim

# vscode
!vscode/
!vscode/Library/
!vscode/Library/Application Support/
!vscode/Library/Application Support/Code/
!vscode/Library/Application Support/Code/User/
!vscode/Library/Application Support/Code/User/snippets/
!vscode/Library/Application Support/Code/User/snippets/*
!vscode/Library/Application Support/Code/User/keybindings.json
!vscode/Library/Application Support/Code/User/settings.json

# zsh
!zsh/
!zsh/.zsh
!zsh/.zsh/functions.zsh
!zsh/.zsh/theme.zsh
!zsh/.zsh_profile
!zsh/.zshrc

# scripts etc.
!.gitattributes
!.gitignore
!init.sh
!README.md