# Do whitelisting
*

# ansible
!ansible/
!ansible/.ansible/
!ansible/.ansible/vault_password_file
!ansible/.ansible.cfg

# bash
!bash/
!bash/.bash_logout
!bash/.bash_profile
!bash/.bashrc

# beets
!beets/
!beets/.config/
!beets/.config/beets/
!beets/.config/beets/config.yaml

# bin
!bin/
!bin/.bin
!bin/.bin/.gitkeep
!bin/.bin/hsrvpn
!bin/.bin/insvpn
!bin/.bin/jdownloader

# cheat
!cheat/
!cheat/.cheat
!cheat/.cheat/
!cheat/.cheat/community
!cheat/.cheat/community/*
!cheat/.cheat/personal
!cheat/.cheat/personal/*
!cheat/.config/
!cheat/.config/cheat/*

# files
!files/
!files/*

# git
!git/
!git/.gitconfig
!git/.gitexcludes

# gnupg
!gnupg/
!gnupg/.gnupg
!gnupg/.gnupg/gpg-agent.conf
!gnupg/.gnupg/gpg.conf

# packages
!packages/
!packages/brew
!packages/npm
!packages/pip
!packages/vscode

# postgres
!postgres/
!postgres/.psqlrc

# setup
!setup/
!setup/dnscrypt/
!setup/dnscrypt/**
!setup/firefox/
!setup/firefox/**
!setup/keylayouts/
!setup/keylayouts/**
!setup/config.yml
!setup/defaults.sh
!setup/hosts.yml
!setup/setup.yml
!setup/vault.dist.yml

# shell
!shell/
!shell/.shell
!shell/.shell/*

# ssh
!ssh/
!ssh/.ssh/
!ssh/.ssh/config

# sync
!sync/
!sync/.gitkeep

# tmux
!tmux/
!tmux/.tmux.conf

# vim
!vim/
!vim/.vimrc

# vscode
!vscode/
!vscode/Library/
!vscode/Library/Application Support/
!vscode/Library/Application Support/Code/
!vscode/Library/Application Support/Code/User/
!vscode/Library/Application Support/Code/User/snippets/
!vscode/Library/Application Support/Code/User/snippets/*
!vscode/Library/Application Support/Code/User/keybindings.json
!vscode/Library/Application Support/Code/User/settings.json

# zsh
!zsh/
!zsh/.zsh
!zsh/.zsh/mac.zsh
!zsh/.zsh/prompt.zsh
!zsh/.zsh_profile
!zsh/.zshrc

!.gitignore
!.travis.yml
!dotfiles.sh
!README.md
!setup.sh